<div>
    <h2>Uploaded Files</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="uploaded-files.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Uploaded Files
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="uploadDate"><span>Upload Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bank"><span>Bank</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="file"><span>File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountType"><span>Account Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="uploadedFiles in vm.uploadedFiles track by uploadedFiles.id">
                    <td><a ui-sref="uploaded-files-detail({id:uploadedFiles.id})">{{uploadedFiles.id}}</a></td>
                        <td>{{uploadedFiles.uploadDate | date:'mediumDate'}}</td>
                    <td>{{uploadedFiles.bank}}</td>
                    <td>
                        <a ng-if="uploadedFiles.file" ng-click="vm.openFile(uploadedFiles.fileContentType, uploadedFiles.file)">open</a>
                        <span ng-if="uploadedFiles.file">{{uploadedFiles.fileContentType}}, {{vm.byteSize(uploadedFiles.file)}}</span>
                    </td>
                    <td>{{uploadedFiles.accountType}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="uploaded-files-detail({id:uploadedFiles.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="uploaded-files.edit({id:uploadedFiles.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="uploaded-files.delete({id:uploadedFiles.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
